@media screen and (max-width: 1064px) {
  .tagline {
    padding: 52px 0px 154px 0px;
  }
}
@media screen and (max-width: 906px) {
  .tagline {
    padding: 20px 0px 154px 0px;
  }
}
@media screen and (max-width: 792px) {
  .header__login-buttons {
    display: none;
  }
  .header__links {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .tagline {
    padding: 40px 0px 154px 0px;
  }
}
@media screen and (max-width: 375px) {
  .tagline {
    padding: 48px 0px 136px 0px;
  }
}
@media screen and (max-width: 425px) {
  a#menu {
    width: 40px;
  }
  a#menu span {
    height: 2px;
  }
  a#menu span:nth-child(1) {
    transform: translateY(-10px);
  }
  
  a#menu span:nth-child(2) {
    transform: translateY(10px);
  }
}


@media screen and (max-width: 1528px) {
  ._intro {
    background-position: 150% center; 
  }
}
@media screen and (max-width: 1417px) {
  ._intro {
    background-size: 60%;
    background-position: 142% center; 
  }
}
@media screen and (max-width: 990px) {
  ._intro {
    background-size: 60%;
    background-position: center 22%; 
    background-image: url(../assets/images/illustration-editor-mobile.svg);
  }
  .intro__content-container {
    margin-top: 430px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .intro__text-container {
    width: 100%;
  }
  .intro__header {
    margin: 52px 0 40px 0;
  }
}
@media screen and (max-width: 893px) {
  ._intro {
    background-size: 65%;
  }
}
@media screen and (max-width: 715px) {
  ._intro {
    background-size: 70%;
  }
}
@media screen and (max-width: 600px) {
  ._intro {
    background-size: 75%;
    background-position: center 18%; 
  }
  .intro__content-container {
    margin-top: 330px;
  }
}
@media screen and (max-width: 425px) {
  ._intro {
    background-size: 95%;
    background-position: center 20%; 
  }
  .intro__content-container {
    margin-top: 330px;
  }
  .intro__header {
    margin: 90px 0 40px 0;
  }
  .intro__subheader {
    text-align: center;
    margin-top: 42px;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .intro__text {
    margin-top: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 990px) {
  .intro__content-container {
    margin-bottom: 330px;
  }
}



@media screen and (max-width: 1440px) {
  .phones-pattern {
    background-position: -55% 80%;
  }
}
@media screen and (max-width: 990px) {
  .phones {
    height: 545px;
    flex-direction: column; 
    align-items: center;   
  }
  .phones__img {
    position: absolute;
    top: 260%;
  }
  .phones__header {
    margin-top: 300px;
  }
  .phones__text {
    margin: 32px 0 0px 0;
  }
  .phones-pattern {
    background-position: center 80%;
  }
  .phones__container {
    width: 100%;
  }
}
@media screen and (max-width: 911px) {
  .phones__img {
    top: 270%;
    width: 450px;
  }
}
@media screen and (max-width: 843px) {
  .phones__img {
    top: 280%;
  }
}
@media screen and (max-width: 614px) {
  .phones__img {
    top: 290%;
  }
  .phones-pattern {
    background-position: center 400%;
    background-size: 100%;
  }
}
@media screen and (max-width: 700px) {
  ._phones {
    border-radius: 0 80px 0 80px;
  }
  .phones-pattern {
    border-radius: 0 80px 0 80px;
  }
}
@media screen and (max-width: 590px) {
  .phones__img {
    width: 375px;
    top: 320%;
  }
  .phones__header {
    margin-top: 230px;
    text-align: center;
  }
  .phones__text {
    text-align: center;
  }
  .phones-pattern {
    background-position: center 230%;
    background-size: 150%;
  }
}
@media screen and (max-width: 375px) {
  .phones__img {
    width: 375px;
    top: 330%;
  }
  .phones__header {
    font-weight: 300;
    margin-top: 210px;
  }
  .phones__text {
    text-align: center;
    margin-top: 10px;
  }
  .phones-pattern {
    background-position: center 230%;
    background-size: 150%;
  }
}



@media screen and (max-width: 1500px) {
  ._notebook {
    background-position: -55% center; 
  }
}
@media screen and (max-width: 1382px) {
  ._notebook {
    background-position: -70% center; 
  }
}
@media screen and (max-width: 1316px) {
  ._notebook {
    background-position: -25% center; 
    background-size: 60%;
  }
}
@media screen and (max-width: 1316px) {
  ._notebook {
    background-position: 45% 10%; 
    background-size: 60%;
  }
  .notebook__subheader:first-child {
    margin-top: 550px;
  }
  .notebook__text-container {
    width: 100%;
  }
  .notebook__content-container {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 766px) {
  .notebook__subheader:first-child {
    margin-top: 450px;
  }
}
@media screen and (max-width: 662px) {
  .notebook__subheader, .notebook__text  {
    text-align: center;
  }
  .notebook__subheader:first-child {
    margin-top: 350px;
  }
}
@media screen and (max-width: 425px) {
  ._notebook {
    background-image: url(../assets/images/illustration-laptop-mobile.svg);
    background-position: center 10%;
    background-size: auto;
  }
  .notebook__subheader:first-child {
    margin-top: 450px;
  }
  .notebook__subheader {
    margin-top: 30px;
  }
}