@import "variables";
@import "typography";
@import "header";
@import "dropdown";
@import "tagline";
@import "burger-menu";
@import "menu";
@import "intro";
@import "phones";
@import "notebook";
@import "footer";
@import "adaptive";

// ---------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
// ---------------------------------------------------
.page {
  display: flex;
  justify-content: center;
}
.wrap {
  max-width: 1500px;
  width: 100%;
  padding: 0 30px;
}
.none {
  display: none;
}
._tagline {
  background: linear-gradient(90deg, $Very-light-red 0%, $Light-red 100%);
  border-radius: 0 0 0 120px ;
}
