@import "variables";
@import "typography";
@import "header";
@import "dropdown";
@import "tagline";
@import "burger-menu";
@import "adaptive";
@import "menu";

// ---------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ---------------------------------------------------
.page {
  display: flex;
  justify-content: center;
}
.wrap {
  max-width: 1440px;
  width: 100%;
}
.none {
  display: none;
}
