@font-face {
  font-family: Overpas-c;
  src: url(../assets/fonts/overpass-variablefont_wght-webfont.woff2) format("woff2"), url(../assets/fonts/overpass-variablefont_wght-webfont.woff) format("woff");
  font-weight: 300, 600; }
@font-face {
  font-family: Ubuntu-c;
  src: url(../assets/fonts/ubuntu-bold-webfont.woff2) format("woff2"), url(../assets/fonts/ubuntu-bold-webfont.woff) format("woff");
  font-weight: 700; }
@font-face {
  font-family: Ubuntu-c;
  src: url(../assets/fonts/ubuntu-medium-webfont.woff2) format("woff2"), url(../assets/fonts/ubuntu-medium-webfont.woff) format("woff");
  font-weight: 500; }
@font-face {
  font-family: Ubuntu-c;
  src: url(../assets/fonts/ubuntu-regular-webfont.woff2) format("woff2"), url(../assets/fonts/ubuntu-regular-webfont.woff) format("woff");
  font-weight: 400; }
:root {
  font-size: 16px;
  line-height: 1; }

header {
  display: flex;
  align-items: center; }

header :last-child {
  margin-left: auto; }

.header__logo {
  margin-right: 64px; }

.header__login-buttons {
  margin-left: auto; }

.header__login-button {
  font-family: 'Ubuntu-c';
  font-size: 1rem;
  padding: 12px 32px;
  border-radius: 40px;
  border: none;
  background-color: transparent; }

._login {
  font-weight: 400;
  color: #FFF;
  transition: .4s; }

._login:hover {
  color: #ff525d;
  background-color: #FFF;
  transition: .4s;
  cursor: pointer; }

._sign-up {
  color: #ff525d;
  background-color: #FFF;
  font-weight: 500;
  transition: .4s; }

._sign-up:hover {
  color: #FFF;
  background-color: #ff7a85;
  transition: .4s;
  cursor: pointer; }

.dropdown {
  font-family: Ubuntu-c; }

/* Dropdown Button */
.dropdown__btn {
  color: #FFF;
  padding: 16px;
  font-size: 1rem;
  border: none;
  font-weight: 500; }

.dropdown__btn img {
  margin-left: 5px; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #FFF;
  font-size: .9rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  padding: 20px; }

/* Links inside the dropdown */
.dropdown__content a {
  color: black;
  padding: 10px 0;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown__content a:hover {
  font-weight: 500; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown__btn {
  text-decoration: underline;
  cursor: pointer; }

.tagline {
  padding: 52px 0 154px 0; }

.tagline__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Overpas-c;
  color: #FFF; }

.tagline__header {
  font-size: 4rem;
  margin-top: 140px;
  text-align: center; }

.tagline__subheader {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center; }

.tagline__buttons {
  margin-top: 48px; }

.hedline__button {
  font-family: Ubuntu-c;
  margin-left: 20px;
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 40px;
  border: none;
  background-color: transparent; }

._white {
  color: #ff525d;
  background-color: #FFF;
  font-weight: 500;
  transition: .4s; }

._white:hover {
  background-color: #ff7a85;
  color: #FFF;
  transition: .4s;
  cursor: pointer; }

._transparent {
  font-weight: 500;
  color: #FFF;
  transition: .4s;
  border: 1px solid #FFF; }

._transparent:hover {
  color: #ff525d;
  transition: .4s;
  background-color: #FFF;
  cursor: pointer; }

.decoration-img {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/bg-pattern-intro-desktop.svg);
  background-position: -520px center;
  background-repeat: no-repeat;
  background-size: 200%;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 120px; }

.burger-menu {
  justify-content: center;
  align-items: center;
  display: none; }

a#menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px; }

a#menu span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.2s all ease; }

a#menu span:nth-child(1) {
  transform: translateY(-15px); }

a#menu span:nth-child(2) {
  transform: translateY(15px); }

a#menu.active span:nth-child(1) {
  transform: translateY(-50px);
  opacity: 0; }

a#menu.active span:nth-child(2) {
  transform: translateY(50px);
  opacity: 0; }

a#menu span:nth-child(3),
a#menu span:nth-child(4) {
  transform: rotate(0deg); }

a#menu.active span:nth-child(3) {
  transform: rotate(-45deg); }

a#menu.active span:nth-child(4) {
  transform: rotate(45deg); }

.menu {
  font-family: Ubuntu-c;
  position: absolute;
  background-color: #FFF;
  border-radius: 5px;
  padding: 20px;
  width: calc(100vw - 30px * 2);
  top: 100px;
  text-align: center; }

.menu a {
  color: #1d1e35; }

.menu__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.arrow {
  margin-left: 2%;
  transition: transform 0.5s; }

.menu__item-btn {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  cursor: pointer;
  text-decoration: none; }

.submenu {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
  margin-bottom: 4px;
  background-color: #EFEFF1;
  color: #4b5862;
  border-radius: 5px;
  animation: submenu 0.5s linear; }
  .submenu a {
    text-decoration: none;
    margin: 10px 0; }

@keyframes submenu {
  from {
    opacity: 0;
    top: -20px; }
  to {
    opacity: 100;
    top: 0; } }
.closed {
  display: none; }

.arrow-opened {
  transform: rotate(180deg);
  transition: transform 0.5s; }

.opened {
  font-weight: 700; }

.devider {
  background-color: #e7e7e9;
  width: 100%;
  height: 1px;
  margin: 8px 0;
  display: block; }

.menu__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.menu__button {
  font-family: Ubuntu-c;
  font-size: 1rem;
  padding: 12px 32px;
  border-radius: 40px;
  border: none;
  background-color: transparent; }

._login-menu {
  font-weight: 500;
  color: #1f3f5b;
  transition: 0.4s; }

._sign-up-menu {
  color: #FFF;
  background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
  font-weight: 500;
  transition: 0.4s; }

.intro {
  color: #1f3f5b; }

.intro__text-container {
  display: flex;
  flex-direction: column;
  width: 50%; }

.intro__content-container {
  display: flex;
  margin-bottom: 256px; }

.intro__header {
  margin: 152px 0 40px 0;
  text-align: center;
  font-family: Overpas-c;
  font-size: 2.5rem;
  font-weight: 600; }

.intro__subheader {
  margin-top: 82px;
  font-family: Overpas-c;
  font-size: 1.8rem;
  font-weight: 300; }

.intro__text {
  margin-top: 26px;
  font-family: Ubuntu-c;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2; }

._intro {
  background-image: url(../assets/images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-position: 126% center;
  background-size: auto; }

.phones-pattern {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/bg-pattern-circles.svg);
  background-position: -25% 80%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 0 120px 0 120px; }

._phones {
  background: linear-gradient(90deg, #2E2F41 0%, #3D4063 100%);
  border-radius: 0 120px 0 120px;
  color: white; }

.phones {
  display: flex;
  align-items: end;
  height: 400px;
  justify-content: space-between; }

.phones__img {
  background-image: url(../assets/images/illustration-phones.svg);
  background-position: center center;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  width: 552px;
  height: 579px;
  top: 110px; }

.phones__container {
  display: flex;
  width: 50%;
  flex-direction: column; }

.phones__header {
  margin-top: 118px;
  font-family: Overpas-c;
  font-size: 2.5rem;
  font-weight: 600; }

.phones__text {
  margin: 32px 0 110px 0;
  font-family: Ubuntu-c;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2; }

.notebook {
  color: #1f3f5b; }

.notebook__text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 48px; }

.notebook__content-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 256px; }

.notebook__subheader {
  margin-top: 82px;
  font-family: Overpas-c;
  font-size: 1.8rem;
  font-weight: 600; }

.notebook__subheader:first-child {
  margin-top: 230px; }

.notebook__text {
  margin-top: 26px;
  font-family: Ubuntu-c;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2; }

._notebook {
  background-image: url(../assets/images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-position: -24% center;
  background-size: auto; }

._footer {
  background-color: #25252d;
  border-radius: 0 120px 0 0; }

.footer {
  font-family: Ubuntu-c;
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 70px 0 70px 0;
  justify-content: space-between; }

.footer__col {
  display: flex;
  flex-direction: column; }

.footer__col:last-child {
  margin: 0 15% 0 0; }

.footer__category {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.2rem; }

.footer__link {
  margin-bottom: 16px;
  text-decoration: none;
  color: #c8c8cb;
  font-weight: 400;
  font-size: 1rem; }

.footer__link:hover {
  text-decoration: underline; }

@media screen and (max-width: 1064px) {
  .tagline {
    padding: 52px 0px 154px 0px; } }
@media screen and (max-width: 906px) {
  .tagline {
    padding: 20px 0px 154px 0px; } }
@media screen and (max-width: 792px) {
  .header__login-buttons {
    display: none; }

  .header__links {
    display: none; }

  .burger-menu {
    display: flex; }

  .tagline {
    padding: 40px 0px 154px 0px; }

  .decoration-img {
    background-position: center center;
    background-size: 180%; } }
@media screen and (max-width: 620px) {
  .decoration-img {
    background-size: 200%; } }
@media screen and (max-width: 560px) {
  .decoration-img {
    background-size: 250%; } }
@media screen and (max-width: 425px) {
  .decoration-img {
    background-size: 300%; } }
@media screen and (max-width: 375px) {
  .tagline {
    padding: 48px 0px 136px 0px; } }
@media screen and (max-width: 425px) {
  a#menu {
    width: 40px; }

  a#menu span {
    height: 2px; }

  a#menu span:nth-child(1) {
    transform: translateY(-10px); }

  a#menu span:nth-child(2) {
    transform: translateY(10px); } }
@media screen and (max-width: 1528px) {
  ._intro {
    background-position: 150% center; } }
@media screen and (max-width: 1417px) {
  ._intro {
    background-size: 60%;
    background-position: 142% center; } }
@media screen and (max-width: 990px) {
  ._intro {
    background-size: 60%;
    background-position: center 16%;
    background-image: url(../assets/images/illustration-editor-mobile.svg); }

  .intro__content-container {
    margin-top: 430px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px; }

  .intro__text-container {
    width: 100%; }

  .intro__header {
    margin: 52px 0 40px 0; } }
@media screen and (max-width: 893px) {
  ._intro {
    background-size: 65%; } }
@media screen and (max-width: 715px) {
  ._intro {
    background-size: 70%; } }
@media screen and (max-width: 600px) {
  ._intro {
    background-size: 75%;
    background-position: center 14%; }

  .intro__content-container {
    margin-top: 330px; } }
@media screen and (max-width: 425px) {
  ._intro {
    background-size: 95%;
    background-position: center 16%; }

  .intro__content-container {
    margin-top: 330px; }

  .intro__header {
    margin: 90px 0 40px 0; }

  .intro__subheader {
    text-align: center;
    margin-top: 42px;
    font-size: 2.5rem;
    font-weight: 600; }

  .intro__text {
    margin-top: 24px;
    text-align: center; } }
@media screen and (max-width: 990px) {
  .intro__content-container {
    margin-bottom: 330px; } }
@media screen and (max-width: 1440px) {
  .phones-pattern {
    background-position: -55% 80%; } }
@media screen and (max-width: 990px) {
  .phones {
    height: 545px;
    flex-direction: column;
    align-items: center; }

  .phones__img {
    position: absolute;
    top: 1620px; }

  .phones__header {
    margin-top: 300px; }

  .phones__text {
    margin: 32px 0 0px 0; }

  .phones-pattern {
    background-position: center 80%; }

  .phones__container {
    width: 100%; } }
@media screen and (max-width: 911px) {
  .phones__img {
    top: 1680px;
    width: 450px; } }
@media screen and (max-width: 843px) {
  .phones__img {
    top: 1720px; } }
@media screen and (max-width: 699px) {
  .phones__img {
    top: 1760px; } }
@media screen and (max-width: 614px) {
  .phones__img {
    top: 1850px; }

  .phones-pattern {
    background-position: center 400%;
    background-size: 100%; } }
@media screen and (max-width: 700px) {
  ._phones {
    border-radius: 0 80px 0 80px; }

  .phones-pattern {
    border-radius: 0 80px 0 80px; } }
@media screen and (max-width: 600px) {
  .phones__img {
    top: 1750px; } }
@media screen and (max-width: 590px) {
  .phones__img {
    width: 375px;
    top: 1750px; }

  .phones__header {
    margin-top: 230px;
    text-align: center; }

  .phones__text {
    text-align: center; }

  .phones-pattern {
    background-position: center 230%;
    background-size: 150%; } }
@media screen and (max-width: 558px) {
  .phones__img {
    top: 1800px; } }
@media screen and (max-width: 495px) {
  .phones__img {
    top: 1830px; } }
@media screen and (max-width: 468px) {
  .phones__img {
    top: 1900px; } }
@media screen and (max-width: 435px) {
  .phones__img {
    top: 1970px; } }
@media screen and (max-width: 375px) {
  .phones__img {
    width: 375px;
    top: 2050px; }

  .phones__header {
    font-weight: 300;
    margin-top: 210px; }

  .phones__text {
    text-align: center;
    margin-top: 10px; }

  .phones-pattern {
    background-position: center 230%;
    background-size: 150%; } }
@media screen and (max-width: 1500px) {
  ._notebook {
    background-position: -55% center; } }
@media screen and (max-width: 1382px) {
  ._notebook {
    background-position: -70% center; } }
@media screen and (max-width: 1316px) {
  ._notebook {
    background-position: -25% center;
    background-size: 60%; } }
@media screen and (max-width: 1316px) {
  ._notebook {
    background-position: 45% 10%;
    background-size: 60%; }

  .notebook__subheader:first-child {
    margin-top: 550px; }

  .notebook__text-container {
    width: 100%; }

  .notebook__content-container {
    margin-bottom: 20px; } }
@media screen and (max-width: 766px) {
  .notebook__subheader:first-child {
    margin-top: 450px; } }
@media screen and (max-width: 662px) {
  .notebook__subheader, .notebook__text {
    text-align: center; }

  .notebook__subheader:first-child {
    margin-top: 350px; } }
@media screen and (max-width: 425px) {
  ._notebook {
    background-image: url(../assets/images/illustration-laptop-mobile.svg);
    background-position: center 10%;
    background-size: auto; }

  .notebook__subheader:first-child {
    margin-top: 450px; }

  .notebook__subheader {
    margin-top: 30px; } }
@media screen and (max-width: 540px) {
  .footer {
    flex-direction: column;
    align-items: center; }

  .footer__col:last-child {
    margin: 0 0 0 0; }

  .footer__category {
    margin-top: 52px;
    text-align: center; }

  .footer__col {
    text-align: center; } }
@media screen and (max-width: 425px) {
  * {
    letter-spacing: -2px; }

  .intro__text {
    letter-spacing: normal; }

  .phones__text {
    letter-spacing: normal; }

  .notebook__text {
    letter-spacing: normal; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0; }

.page {
  display: flex;
  justify-content: center; }

.wrap {
  max-width: 1174px;
  width: 100%;
  padding: 0 30px; }

.none {
  display: none; }

._tagline {
  background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
  border-radius: 0 0 0 120px; }

/*# sourceMappingURL=main.css.map */
